<template name="page_header">
  <div class="landing-section-1">
    <div class="ui grid">
      <div class="row">
        <a class="{{ isActiveRoute 'Landing_Page' }} ui centered image" href="{{ pathFor 'Landing_Page'}}"
           id="main_pic"><img class="ui centered image" src="/images/header_pic.png"></a>
      </div>
    </div>
  </div>
  <div style="background: #1B1C1D; padding-top: 25px;">
    <div class="ui container">
      <div class="ui fluid category search">
        <div class="ui fluid icon input">
          <input class="prompt" type="text" placeholder="Search clubs...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 0px; border-radius: 0px;" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" onclick="window.location.href='/'"><h1>HOME</h1></a>
      <a class="item" onclick="window.location.href='/search'">SEARCH</a>
      <a class="item" onclick="window.location.href='/list'" >LISTS</a>
      {{#if currentUser}}
      <a class="item" href="/club-edit">CLUB PROFILE</a>
      {{/if}}
      <div class="right item">
        {{> Cas_Login }}
      </div>
    </div>
  </div>
</template>