<template name="Slideshow">
  <div class="ui middle aligned row">
    <div class="two wide column left-button-div">
      <button class="ui left floated big icon next-to-left button">
        <i class="chevron left icon"></i>
      </button>
    </div>
    <div class="twelve wide slidebox column">
      <img class="ui centered bordered myslide image" src="https://raw.githubusercontent.com/squadify/squadify/master/app/public/images/casanova.jpg">
      <img class="ui centered bordered hidden myslide image" src="https://raw.githubusercontent.com/squadify/squadify/master/app/public/images/american_society_of_civil_engineers_logo.png">
      <img class="ui centered bordered hidden myslide image" src="https://raw.githubusercontent.com/squadify/squadify/master/app/public/images/biagioni.jpg">
      <img class="ui centered bordered hidden myslide image" src="https://raw.githubusercontent.com/squadify/squadify/master/app/public/images/alpha_gamma_delta_groupPic.jpg">
      <img class="ui centered bordered hidden myslide image" src="https://raw.githubusercontent.com/squadify/squadify/master/app/public/images/hosa_logo.jpg">
    </div>
    <div class="two wide column right-button-div">
      <button class="ui right floated big icon next-to-right button">
        <i class="chevron right icon"></i>
      </button>
    </div>
  </div>
</template>