<template name="Slideshow">
  <div class="ui middle aligned row">
    <div class="two wide column left-button-div">
      <button class="ui left floated big icon next-to-left button">
        <i class="chevron left icon"></i>
      </button>
    </div>
    <div class="twelve wide slidebox column">
        {{#each picture in club.pictures }}
          {{ #if firstIndex }}
             <img class="ui centered bordered myslide image" src="{{ picture }}">
          {{ else }}
             <img class="ui centered bordered myslide hidden image" src="{{ picture }}">
          {{ /if }}
        {{ /each }}
    </div>
    <div class="two wide column right-button-div">
      <button class="ui right floated big icon next-to-right button">
        <i class="chevron right icon"></i>
      </button>
    </div>
  </div>
</template>