<template name="Slideshow">
  <div class="ui middle aligned row">
    <div class="two wide column left-button-div">
      <button class="ui left floated big icon next-to-left button">
        <i class="chevron left icon"></i>
      </button>
    </div>
    <div class="twelve wide slidebox column">
      {{#each clubb in club }}
        {{#each picture in clubb.pictures }}
           <li>{{ picture }}</li>
          {{ #if firstIndex }}
             <img class="ui centered bordered myslide image" src="{{ picture }}">
          {{ else }}
             <img class="ui centered bordered myslide hidden image" src="{{ picture }}">
          {{ /if }}
        {{ /each }}
      {{ /each }}
    </div>
    <div class="two wide column right-button-div">
      <button class="ui right floated big icon next-to-right button">
        <i class="chevron right icon"></i>
      </button>
    </div>
  </div>

  <div class="eight wide column">
    {{#each club in clubs }}
     {{#each picture in club.pictures }}
       <li>{{ picture }}</li>
     {{ /each }}
    {{/each}}

    {{#each picture in restPictures }}
       <li>{{ picture }}</li>
    {{ /each }}
  </div>
</template>