.landing-section-1 {
  background-color: #102105;
  color: #E5F9E7;
}

#clubtitle:hover {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.spotlight {
  font-family: 'Roboto', sans-serif;
  padding: 20px 10px 50px 10px;
  background-color: #ffffff;
  color:  #102105;
}

.search_boxes{
  font-family: 'Roboto', sans-serif;
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  color: #102105;
}

.clubSearch{
  width: 90%;
}

.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}

.image{
  display: inline-block;
  border-radius: 10px;
}

.club.button{
  background-color: darkgreen;
  margin-bottom: 50px;
}