.landing-section-1 {
  background-color: #102105;
  color: #E5F9E7;
}

#main_pic {
}

.spotlight {
  font-family: 'Roboto', sans-serif;
  padding: 20px 10px 50px 10px;
  background-color: #E5F9E7;
  color:  #00B5AD;
}

.search_boxes{
  font-family: 'Roboto', sans-serif;
  padding: 20px 10px 20px 10px;
  background-color: #00B5AD;
  color: #E5F9E7;
}

.clubSearch{
  width: 90%;
}

.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}